@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
  }

  * {
    z-index: 1;
  }
}

ul {
  padding: 0;

  li {
    list-style-type: none;
    display: inline-block;
    background-color: #eee;
    color: #2d2013;
    margin: 0.6rem;
    padding: 0.5rem;
    border-radius: 20px;
    font-weight: 500;
  }
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .title {
    font-size: 2.5rem;
    word-spacing: 4px;
    letter-spacing: 1px;
  }

  .form {
    display: flex;
    align-items: center;

    input,
    .search-btn {
      padding: 0.8rem 1rem;
      border: none;
      outline: none;
    }

    input {
      width: 320px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .search-btn {
      background-color: #fff;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      cursor: pointer;
    }
  }

  .heading {
    font-size: 1.25rem;
    letter-spacing: 1px;
    word-spacing: 2px;
  }

  .meals {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;

    .meal {
      height: 225px;
      width: 225px;
      position: relative;
      cursor: pointer;
      margin: 1.25rem;
      border: 4px solid #fff;
      border-radius: 2px;
      border-radius: 50%;

      &:hover {
        transform: scale(1.05);
        transition: 0.3s ease all;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }

      .meal-info {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 1rem;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        border-radius: 50%;

        &:hover {
          opacity: 1;
          transition: 0.3s ease all;
        }

        h3 {
          font-weight: 500;
        }
      }
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 2rem 0 0;

    i {
      position: absolute;
      cursor: pointer;
      right: 25px;
      top: 20px;
    }

    .single-meal {
      padding: 5rem 2.5rem;
      display: flex;
      gap: 3rem;

      h1 {
        letter-spacing: 2px;
        font-size: 1.6rem;
      }

      img {
        width: 200px;
        border: 4px solid #fff;
        border-radius: 50%;
      }

      .single-meal-info {
        width: 120px;
        margin: 1rem auto;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.05rem;

          &:nth-of-type(2) {
            margin-top: -1rem;
          }

          h4 {
            margin-right: 5px;
          }
        }
      }
    }

    main {
      line-height: 1.4;
      padding: 0 1rem;
      font-size: 1rem;
    }

    .video {
      iframe {
        border: 1px solid #fff;
      }
    }
  }
}

@media (max-width: 825px) {
  .single-meal {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (max-width: 600px) {
  .single-meal {
    .video {
      iframe {
        width: 100%;
        height: 250px;
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    .form {
      input {
        width: 100%;
      }
    }
  }
}
